

:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color : #19587d;
    --white-color : #fff;
    --gradient-white:#eddebf83;
    --gradient-red:#89000993;
    --black-color:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.container{
     width: 80%;
     margin:auto;
}
body{
    background-color: black;
    color: white;
    font-family: 'Space-Grotesk';
    font-weight: 300;
}
/* Design de la navigation*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

ul {
    list-style: none;
}

nav ul a{
   color: var(--white-color);
   font-size: 30px;
   font-weight: 500;
   font-family: 'rajdhani';
   /*texte decoration*/
}

nav ul a:hover{
    color: var(--yellow-color);
}

/*Design de la partie hero */

#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #19587d;
    background-size: cover;   
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto ;
    padding-top: 150px;
}

#hero .titre{
    margin: 25px 0;    
}

.btn{
    text-decoration: none;
    color:var(--white-color);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    background: linear-gradient(80deg,var(--gradient-white), var(--gradient-red));
    box-shadow: var(--black-color) 5px 5px 60px;

}

#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 280px;

}
.scroll{
    display: flex;
    flex-direction:column;
    align-items: center;
    position:fixed;
    right: 80px;
    top: 240px;
}

.scroll .social{
     margin-top: 15px;
}

/*Design de la section personnage */

#batman-cinema{
    margin-top: 40px;
    }

.batman-personnage{
    display: flex;
    justify-content: space-between;
    padding: 2%;

}
#batman-cinema .titre{
    text-transform: uppecase;
    font-weight: bold;
    margin: 30px 0;
}

#batman-cinema .description{
    margin-bottom:40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;

}
#batman-cinema .personnage-info{
    text-align: center;
    
}

#Nemesis{
    padding: 1%;
    margin: 2%;
}

#Nemesis .titre{
    text-transform: uppecase;
    font-weight: bold;
    margin: 30px 0;
    }

.nemesis-personnage{
    display: flex;
    justify-content: space-between;
    padding: 2%;   
}
#Nemesis .personnage-info{
    text-align: center;
    }
#Nemesis .description{
        margin-bottom:40px;
        text-align: justify;
        width: 80%;
        font-size: 21px;
        }

#ALLIES{
    padding: 1%;
    margin: 2%;
}
#ALLIES .titre{
    text-transform: uppecase;
    font-weight: bold;
    margin: 30px 0;
    }

.ALLIES-personnage{
    display: flex;
    justify-content: space-between;
    padding: 2%;
   
}
#ALLIES .description{
    margin-bottom:40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
}
#ALLIES .personnage-info{
    text-align: center;
    }

#justice{
    padding: 1%;
    margin: 2%;
    image-resolution: 720%;
}

#justice  .titre{
    text-transform: uppecase;
    font-weight: bold;
    margin: 30px 0;
}

#justice .description{
    margin-bottom:40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
    }

/* Design de la partie multimedia*/

#multimedia .slider-multimedia{
    display:flex;
    width: 60%;
    margin: 40px auto;
}

#multimedia .slider-image{
    width: 100%;
}

#multimedia .slider-content{
    padding:2%;
    background-color: #b9b6b183;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#multimedia button{
    position: relative;
    top: 145px;
    background: none;
    border: none;
}

#multimedia p{
    font-size: 14px;
}

#multimedia button.right{
    right: -85%;
}

#multimedia  .yellow{
    color: var(--yellow-color);
}

/*  design formulaire*/
#contact{
    background-color: darkslategray;
    padding: 70px 0;
}

#contact .form{
    width: 50%;
    margin: 0 auto;
}

#contact h2{
    text-align: center;
    font-size:32px;
    margin-bottom:32px;
}

#contact .titre{
    display: block;
    margin:28px 0 ;
}

#contact .form input[type='email'],textarea{
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    border-bottom: 2px solid rgb(120, 120,120);
    background-color: transparent;
    padding: 10px 0;
}
#contact .news{
    margin: 15px 0;
    border-bottom: 2px solid rgb(120, 120,120);
}

#contact .icon img{
    transform: rotate(90deg);
    width: 20px;
}

::placeholder{
    color: #f0f0ee;
    font-size:16px;

}

.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;

}

.form input[type='radio']{
    opacity: 0;
}

.btn-group label{
    cursor: pointer;
    border: 2px solid;
    border-color: #19587d;
    padding: 10px;
    -o-border-image:linear-gradient(69deg, red, blue) 1;
    border-image:linear-gradient(69deg, red, blue) 1;
    font-size: 20px;
}
input[type='submit']{
    display: block;
    width: 230px;
    margin: 25px auto;
    padding: 15px;
    cursor: pointer;
}

#citations{
    margin: 90px;
}

#citations .citations-carter{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#citations .citations-auteur{
    padding-top: 30px;
    font-size: 14px;
    font-family: 'radjhani';
}

#citations .guillemet-close{
    float: right;
}

footer{
    margin-top: 162px;
}

footer .text-footer{
    text-align: center;
    font-size: 14px;
}

footer .social-footer{
    text-align: center;
    margin: 50px;
}

footer .social-items{
    padding: 13px;
}